@use 'sass:map';
@use '../abstracts/variables/colors' as *;

@import "@fontsource/inter/300.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/700.css";

$font-main: "Inter", sans-serif;

$font-size: (
  xs: 0.625rem,  // 10px
  s: 0.75rem,    // 12px
  m: 1rem,       // 16px
  l: 1.25rem,    // 20px
  xl: 1.5rem,    // 24px
  xxl: 3rem      // 32px
);

@function font-size($size) {
  @return map.get($font-size, $size);
}

body {
    font-family: $font-main;
}

.text {
  color: color($neutral, 700);
  font-weight: 400;

  &-tiny {
    font-size: font-size(xs);
  }

  &-small {
    font-size: font-size(s);
  }

  &-medium {
    font-size: font-size(m);
  }

  &-large {
    font-size: font-size(l);
  }
}

.heading {
  color: color($neutral, 900);
  font-weight: 700;

  &-small {
    font-size: font-size(l);
  }

  &-medium {
    font-size: font-size(xl);
  }

  &-large {
    font-size: font-size(xxl);
  }
}




