@use '../../assets/scss/abstracts/variables/colors' as *;
@use '../../assets/scss/abstracts/variables/radius' as *;
@use '../../assets/scss/abstracts/variables/spacing' as *;

.base {
    align-items: center;
    background-color: color($neutral, 200);
    border: 1px solid color($neutral, 800);
    border-radius: radius(s);
    color: color($neutral, 800);
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: space(m);
    padding: space(s) space(m);
    transition: background-color .3s ease-in-out, color .3s ease-in-out;

    &:hover {
        background-color: color($neutral, 100);
    }

    svg {
        margin-right: space(s);
    }
}

.primary {
    background-color: color($primary, 600);
    border-color: transparent;
    color: color($neutral, 100);
    
    &:hover {
        background-color: color($primary, 500);
    }
}

.secondary {
    background-color: color($secondary, 700);
    border-color: transparent;
    color: color($neutral, 100);
    
    &:hover {
        background-color: color($secondary, 600);
    }
}

.success {
    background-color: color($success, 600);
    border-color: transparent;
    color: color($neutral, 100);
    
    &:hover {
        background-color: color($success, 500);
    }
}

.left {
    svg {
        order: 0;
        margin-right: space(s);
        margin-left: 0;
    }
}

.right {
    svg {
        order: 1;
        margin-left: space(s);
        margin-right: 0;
    }
}

.outline {
    background-color: transparent;
    color: inherit;
    border: 1px solid currentColor;

    &:hover {
        background-color: currentColor;
        color: color($neutral, 100);
    }
}