@use '../../assets/scss/abstracts/variables/colors' as *;
@use '../../assets/scss/abstracts/variables/radius' as *;
@use '../../assets/scss/abstracts/variables/spacing' as *;

.card  {
    background: color($neutral, 200);
    border-radius: radius(s);
    padding: space(m);

    &__content {
        display: flex;
        flex-direction: column;
        gap: space(m);
    }

    &__title {
        font-weight: 700;
    }
}

